:root {
  font-family: 'McGillSans', 'Rubik', Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-height: 400vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(1, 11, 38);
    background-color: #ececec;
  }

}

.navigation{
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 120px;
  background-color: 0.75 ;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.navigation ul{
  list-style: none;
  display: inline-flex;
}

.navigation li{
  cursor: pointer;
  padding : 15px;
  font-size: 18px;
  font-weight: 50%;
  transition: 0.2s;
}

.navigation li:hover{
  text-decoration: underline;
  opacity: 0.6;
}

.navigation h2{
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  transition: 0.5s;
}

.navigation h2:hover{
  text-decoration: underline;
  color: rgb(0, 166, 255);
}


.navigation img{
  width: 10%;
  height: auto;
  border-radius: 6px;
  margin: 20px;
  transition: transform 1.2s ease-in-out;
}

.navigation img:hover{
  transform: rotate(360deg);
}

.right_side_nav{
  display: inline-flex;
  align-items: center;
}

.intro{
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 70%;
  padding-top: 175px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.name_intro{
  color: rgb(0, 166, 255);
  font-weight:bolder;

}
.links{
  list-style: none;
}

.links img{
  width : 40px;
  height: auto;
  transition: 0.8s ;
  padding-top: 5px;
  cursor: pointer;
}

.links img:hover{
  width: 50px;
  height: auto;
}

.working{
  width: 290px;
  height: auto;
  margin-left: 20px;
}

.aboutme{
  width: 75%;
  margin: 0 auto;
  padding-top: 200px;
}

.aboutme h2{
  font-size: 40px;
}

.aboutme p{
  font-family: "Courier-New", monospace;
  color: rgb(170, 213, 236);
  text-indent: 20px;
  font-size: 20px;
}

.entire_education{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.education{
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 150px;
  width: 100%;
}
.education_hat_image{
  width: 250px;
  height: auto;
}
.education_hat_image:hover{
  transform: rotate3d(90deg);
}

.education h2{
  font-size: 40px;
}
.education h3{
  font-size: 30px;
}
.education p{
  font-size: 20px;
}

.mcgill_innerdiv{
  text-indent: 20px;
  color: red;
}
.mcgill_innerdiv h4{
  font-size: 23px;
}
.mcgill_innerdiv p{
  font-size: 20 px;
}
.jac_innerdiv{
  text-indent: 20px;
  color: #0165fc;
}
.jac_innerdiv h4{
  font-size: 23px;
}
.mcgill{
  color: red;
}
.jac{
  color: #0165fc;
}
.mcgill_icon{
  width: 200px;
  height: auto;
  transition: 0.5s;
}
.mcgill_icon:hover{
  width: 220px;
  height:auto;
}
.jac_icon{
  width: 100px;
  height: auto;
  transition: 0.5s;
}
.jac_icon:hover{
  width: 120px;
  height: auto;
}
.name_logo{
  align-items: center;
  justify-content: center;
}