:root {
  font-family: 'McGillSans', 'Rubik', Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  min-height: 400vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(1, 11, 38);
    background-color: #ececec;
    .navigation{
      background-color: rgb(210, 209, 209, 0.70);
    }
    .githubimg{
      filter: invert(100%);
    }
    .single_project{
      border-color: #000000;
    }
    .projects p{
      color: #000435;
    }
    .aboutme p{
      color: #000435;
    }
    .project_select{
      color: #000435;
    }
  }

}

.navigation{
  padding: 0px;
  position:fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 999;
  backdrop-filter: blur(10px);
}

.navigation ul{
  list-style: none;
  display: inline-flex;
  padding-right: 20px;
}

.navigation li{
  cursor: pointer;
  padding : 15px;
  font-size: 18px;
  font-weight: 50%;
  transition: 0.2s;
}

.navigation li:hover{
  text-decoration: underline;
  opacity: 0.6;
}

.navigation h2{
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  transition: 0.5s;
}

.navigation h2:hover{
  text-decoration: underline;
  color: rgb(0, 166, 255);
}


.navigation img{
  width: 10%;
  height: auto;
  border-radius: 6px;
  margin: 20px;
  transition: transform 1.2s ease-in-out;
}

.navigation img:hover{
  transform: rotate(360deg);
}

.left_side_nav{
  display: inline-flex;
  align-items: center;
}

.intro{
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 70%;
  padding-top: 175px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.name_intro{
  color: rgb(0, 166, 255);
  font-weight:bolder;

}
.links{
  list-style: none;
}

.links img{
  width : 40px;
  height: auto;
  transition: 0.8s ;
  padding-top: 5px;
  cursor: pointer;
}

.links img:hover{
  width: 50px;
  height: auto;
}

.working{
  width: 290px;
  height: auto;
  margin-left: 20px;
}

.aboutme{
  width: 75%;
  margin: 0 auto;
  padding-top: 200px;
}

.aboutme h2{
  font-size: 40px;
}

.aboutme p{
  font-family: "Courier-New", monospace;
  color: rgb(170, 213, 236);
  text-indent: 20px;
  font-size: 20px;
}

.entire_education{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

.education{
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 150px;
  width: 100%;
}
.education_hat_image{
  width: 250px;
  height: auto;
}
.education_hat_image:hover{
  transform: rotate3d(90deg);
}

.education h2{
  font-size: 40px;
}
.education h3{
  font-size: 30px;
}
.education p{
  font-size: 20px;
}

.mcgill_innerdiv{
  text-indent: 20px;
  color: red;
}
.mcgill_innerdiv h4{
  font-size: 23px;
}
.mcgill_innerdiv p{
  font-size: 20 px;
}
.jac_innerdiv{
  text-indent: 20px;
  color: #0165fc;
}
.jac_innerdiv h4{
  font-size: 23px;
}
.mcgill{
  color: red;
}
.jac{
  color: #0165fc;
}
.mcgill_icon{
  width: 200px;
  height: auto;
  transition: 0.5s;
}
.mcgill_icon:hover{
  width: 220px;
  height:auto;
}
.jac_icon{
  width: 100px;
  height: auto;
  transition: 0.5s;
}
.jac_icon:hover{
  width: 120px;
  height: auto;
}
.name_logo{
  align-items: center;
  justify-content: center;
}
.project_images{
  height: 200px;
  width: auto;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 20px;
}
.githubimg{
  height: 70px;
  width: auto;
  transition: 0.5s;
}
.githubimg:hover{
  height: 80px;
  width: auto;
}
.project_skills img{
  height: 45px;
  width: auto;
}
.project_skills ul{
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}
.project_skills li{
  padding: 28px;
}
.projects{
  width: 75%;
  margin: 0 auto;
  padding-top: 150px;
}
.projects h2{
  font-size: 40px;
}
.projects h3{
  font-size: 30px;
}
.single_project{
  border-style: dotted;
  border-color: #ececec;
  text-align: center;
}
.projects p{
  font-size: 15px;
  font-family: "Courier-New", monospace;
  color: rgb(170, 213, 236);
}
.project_content_images{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project_selection{
  display: inline-flex;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 166, 255);
}
.project_selection input{
  display: none;
}
.radio_check:checked ~ label{
  color:rgb(0, 166, 255);
}
.project_selection label{
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
}
.project_selection label:not(:last-of-type){
  border-right: 2px solid rgb(0, 166, 255);
}

.project_selection label:hover{
  color:rgb(0, 166, 255);
  transition: 0.5s;
}
.skills{
  margin: 0 auto;
  width: 75%;
  padding-top: 150px;
  padding-bottom: 100px;
}
.skills h2{
  font-size: 40px;
}
.skills h3{
  font-size: 30px;
}

.skills ul{
  list-style: none;
  width: 100%;
  display: inline-flex;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(0, 166, 255,0.3);
  padding: 8px
}
.skills li{
  margin-left: 150px;
}
.skills img{
  width:auto;
  height: 70px;
  transition: 0.5s;
}

.skills img:hover{
  width: auto;
  height: 50px;
}
